# global
.ipynb_checkpoints

.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.log

*.duckdb
*.duckdb.wal

secrets.toml
gcp_credentials.json

dbt.log

.vscode

# semana 1
w1/data
w1/data
w1/output
w1/keys-cloud
hw1/data

# semana 3
hw3/credentials
hw3/data

# semana 4
hw4/credentials
hw4/logs